<div class="p-grid">
  <div class="p-col-12 p-text-center">
    <p-panel header="Agents Only">
      <div class="p-grid">
        <div class="p-col-12">
          <p-tabView>
            <p-tabPanel header="Change Content">
              <h5>Change Content</h5>
            </p-tabPanel>
            <p-tabPanel header="Release Pages to Live Site">
              <h5>Release Pages to Live Site</h5>
            </p-tabPanel>
            <p-tabPanel header="Pages Set to be Released">
              <h5>Pages Set to be Released</h5>
            </p-tabPanel>
            <p-tabPanel header="Create PDF">
              <h5>Create PDF</h5>
            </p-tabPanel>
            <p-tabPanel header="History">
              <h5>History</h5>
            </p-tabPanel>
            <p-tabPanel header="Add Special Producer Groups">
              <h5>Add Special Producer Groups</h5>
            </p-tabPanel>
          </p-tabView>
        </div>
      </div>
        </p-panel>
  </div>
</div>
