<div class="p-grid">
  <div class="p-col-12">
    <p-tabView>
      <p-tabPanel header="Add New Form and Form Version">
        <p-panel header="Life &gt; Add New Form and Form Version">
          <app-document-library-editor [editType]="1"></app-document-library-editor>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Edit Form">
        <p-panel header="Life &gt; Edit Form">
          <app-document-library-editor [editType]="2"></app-document-library-editor>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Add New Form Version">
        <p-panel header="Life &gt; Add New Form Version">
          <app-document-library-editor [editType]="3"></app-document-library-editor>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Edit Form Version">
        <p-panel header="Life &gt; Edit Form Version">
          <app-document-library-editor [editType]="4"></app-document-library-editor>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Enable/Disable Form Versions By State - Doc Lib">
        <p-panel header="Life &gt; Enable/Disable Form Versions By State - Doc Lib">
          <p>Enable/Disable Form Versions By State - Document Library</p>
        </p-panel>
      </p-tabPanel>
      <p-tabPanel header="Enable/Disable Form Versions By State - NBB">
        <p-panel header="Life &gt; Enable/Disable Form Versions By State - New Business Builder">
          <p>Enable/Disable Form Versions By State - New Business Builder</p>
        </p-panel>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
