/* You can add global styles to this file, and also import other style files */
html {
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif
}
.life-admin-container {
  padding: 50px;
}

.app-header {
  height: 3rem;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 10px;
  background-color: #466892;
  color: white;
}

.app-listbox {
  height: 250px !important;
  max-height: 250px !important;
  overflow-y: scroll !important;
}

.app-move-button {
  width: 100% !important;
}

.p-submenu-list {
  width: 250px !important;
}
